@font-face {
  font-family: "iconfont"; /* Project id 2954189 */
  src: url('iconfont.woff2?t=1637487729439') format('woff2'),
       url('iconfont.woff?t=1637487729439') format('woff'),
       url('iconfont.ttf?t=1637487729439') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e607";
}

.icon-downforward:before {
  content: "\e623";
}

.icon-guanyu:before {
  content: "\e65d";
}

.icon-menu2:before {
  content: "\e609";
}

.icon-paper:before {
  content: "\e60a";
}

.icon-editor:before {
  content: "\e60b";
}

.icon-label_fill:before {
  content: "\e60c";
}

.icon-link:before {
  content: "\e60d";
}

.icon-sort:before {
  content: "\e60e";
}

.icon-share:before {
  content: "\e60f";
}

.icon-schedule:before {
  content: "\e610";
}

.icon-home2:before {
  content: "\e611";
}

.icon-chakan:before {
  content: "\e612";
}

.icon-print:before {
  content: "\e613";
}

.icon-menu:before {
  content: "\e614";
}

.icon-qr-code:before {
  content: "\e615";
}

.icon-stack:before {
  content: "\e616";
}

.icon-timerauto:before {
  content: "\e617";
}

.icon-off-search:before {
  content: "\e618";
}

.icon-speechbubble:before {
  content: "\e619";
}

.icon-calendar2:before {
  content: "\e61a";
}

.icon-arrowleft:before {
  content: "\e61b";
}

.icon-arrowright:before {
  content: "\e61c";
}

.icon-localoffer:before {
  content: "\e61d";
}

.icon-nav-search:before {
  content: "\e61e";
}

.icon-repeat:before {
  content: "\e61f";
}

.icon-folder:before {
  content: "\e620";
}

.icon-home:before {
  content: "\e621";
}

.icon-menu21:before {
  content: "\e622";
}

.icon-faxian:before {
  content: "\e8af";
}

.icon-liuyan:before {
  content: "\e638";
}

