@import './breakpoint.scss';

@mixin page-up-animation {
  animation: main 1s;
}

@mixin vh($size) {
  height: $size * 1vh;
  height: calc(var(--vh) * #{$size});
}

:root {
  --100vh: calc(100 * var(--vh, 1vh));
}
