// @font-face {
//   font-family: 'iconfont';
//   src: url('~@/assets/fonts/iconfont.woff2') format('woff2'),
//     url('~@/assets/fonts/iconfont.woff') format('woff'),
//     url('~@/assets/fonts/iconfont.ttf') format('truetype');
// }

@font-face {
  font-family: 'iconfont'; /* Project id 2954189 */
  src: url('//at.alicdn.com/t/font_2954189_g1yo0lgb559.woff2?t=1640519645674') format('woff2'),
    url('//at.alicdn.com/t/font_2954189_g1yo0lgb559.woff?t=1640519645674') format('woff'),
    url('//at.alicdn.com/t/font_2954189_g1yo0lgb559.ttf?t=1640519645674') format('truetype');
}

.iconfont {
  font-family: 'iconfont', 'serif' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
img,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

// 用于字符
i {
  margin-right: 4px;
}

ul {
  padding-left: 0;
  list-style: none;
}

.v-application ul {
  padding-left: 0;
}

.separator {
  margin: 0 6px;
}

.banner {
  position: absolute;
  top: -60px;
  right: 0;
  left: 0;
  background-color: #49b1f5 !important;
  animation: header-effect 1s;
}

.main-container {
  @include page-up-animation;

  max-width: 1200px;
  padding: 0 20px;
  line-height: 1.5;
}

.flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after {
    width: 30%;
    content: '';
  }
}

[v-cloak] {
  display: none !important;
}

@media (min-width: $screen-sm) {
  $container-m: 360px auto auto;

  .main-container {
    margin: $container-m;
  }
}

@media (max-width: $screen-sm) {
  $container-m: 240px auto auto;

  .main-container {
    margin: $container-m;
  }
}

@keyframes header-effect {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    filter: none;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes main {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    filter: none;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes title-scale {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    filter: none;
    opacity: 1;
    transform: scale(1);
  }
}
