@import url(./variable.scss);

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.woff2?t=1637486359711') format('woff2'),
    url('../fonts/iconfont.woff?t=1637486359711') format('woff'),
    url('../fonts/iconfont.ttf?t=1637486359711') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
img,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

// 用于字符
i {
  margin-right: 4px;
}

ul {
  list-style: none;
}

.separator {
  margin: 0 6px;
}
